/* Общие стили */
body {
    margin: 0;
    padding: 0;
    background-color: #0a0a0f;
    color: #e0e0e0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
}
.section{
    margin: 40px 0;
    padding: 20px;
}
/* Заголовки */
h1, h2, h3 {
    color: #ff003c;
    text-shadow: 1px 1px 4px black;
    margin-top: 40px;
    text-align: center;
}
h2{
    margin-bottom: 10px;
}
a {
    color: #a81414;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
.albumName{
    color: #105cc5;
    clear: both;
    text-align: center;
    font-size: 1.8em;
    margin-top: 60px;
}
.logo3{
    border-top: 1px solid;
    margin-top: 60px;
    padding-top: 30px;
}
.artistName{
    color: #105cc5;
    text-align: center;
    font-size: 1.4em;
    margin-top: 30px;
}
/*Абзацы*/
p{
    color: #e0e0e0;
    border: 3px solid #15151a;
    border-radius: 10px;
    padding: 0 20px;
    background-color: #15151a;
    max-width: 1000px;
    margin: 10px auto;
}
/*Изображение*/
img{
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 0 10px #2a2a2f;
    margin: 30px;
}
.left{
    float: left;
    margin-left: 50px;
    margin-right: 20px;
}
.right{
    float: right;
    margin-left: 50px;
    margin-left: 20px;
}
/*адоптация*/
@media (max-width: 768px) {
    .left, .right{
        float: none;
        display: block;
        margin: 20px auto;
    }
}
